.slider {
    max-width: 450px;
    margin: 60px auto;
    position: relative;
}

.slider i {
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    top: 40%;
    cursor: pointer;
    padding: 5px;
    background: #ffffff4d;
}

.slider i:first-child {
    left: 5px;
}

.slider i:last-child {
    right: 5px;
}

img {
    max-width: 100%;
}